<div class="content" role="main">
  <h3>Introduction</h3>
  <p>
    <a href="https://angular.io/guide/typed-forms" target="_blank">Typed Forms</a> were introduced 
    in Angular 14. They allow for strong-typing of FormControl values. This can be done two ways: 
    one is by <a href="https://angular.io/guide/typed-forms#formcontrol-getting-started" target="_blank">inferring the types</a>, the 
    other is by <a href="https://angular.io/guide/typed-forms#specifying-an-explicit-type" target="_blank">specifying them explicitly</a>.
  </p>
  <p>
    Because FormGroups can get complicated, a good idea is to go a step further and create an 
    interface for your FormGroup, and specify that when using the FormBuilder's <a href="https://angular.io/api/forms/FormBuilder#group" target="_blank">create method</a>.
  </p>

  <a routerLink="exercise">Go to the Exercise</a>
</div>

