label {
  padding: 4px;
  margin: 4px;
  display: inline-block;
  text-align: right;
  width: 80px;
}

input {
  padding: 4px;
  margin: 4px;
}

form {
  margin-top: 40px;
}

.address {
  width: 200px;
}

.state {
  width: 30px;
}

.postalCode {
  width: 80px;
}

.submit {
  margin-top: 20px;
}